{% extends 'admin.base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-header py-3 align-middle">
            <p class="text-primary m-0 fw-bold">RÉSERVATIONS</p>
            {% if errorMessage %}
                <p class="text-warning m-0 fw-bold">{{ errorMessage }}</p>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                 aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>NOM PRÉNOM</th>
                        <th>TABLE</th>
                        <th>NB MENUS</th>
                        <th>DATE</th>
                        <th>MODE DE PAIEMENT</th>
                        <th>PAYÉ</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for reservation in pagination %}
                        <tr class="align-middle">
                            <td>{{ reservation.firstName }} {{ reservation.lastName }}</td>
                            <td>{{ reservation.hostTable.name }}</td>
                            <td>{{ reservation.getMenuReservationsNumber }}</td>
                            <td>{{ reservation.createdAt ? reservation.createdAt|date('d/m/Y') : '' }}</td>
                            <td>{{ reservation.paymentMethod }}</td>
                            <td>{{ reservation.paid ? 'Oui' : 'Non' }}</td>
                            <td>
                                <div class="d-inline-flex float-start flex-row justify-content-start align-items-center">
                                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}" class="
                                                   btn btn-primary btn-sm" role="button">DÉTAILS</a>
                                    <hr class="vertical-hr">
                                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}"
                                       class="btn btn-warning btn-sm"
                                       role="button">MODIFIER</a>
                                    {% if not reservation.paid %}
                                        <hr class="vertical-hr">
                                        <a href="{{ path('validate_reservation', {'token': reservation.validationToken}) }}"
                                           class="btn btn-success btn-sm"
                                           role="button">VALIDER</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucune reservation</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>NOM PRÉNOM</th>
                        <th>TABLE</th>
                        <th>NB MENUS</th>
                        <th>DATE</th>
                        <th>MODE DE PAIEMENT</th>
                        <th>PAYÉ</th>
                        <th>ACTIONS</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-start dataTables_paginate paging_simple_numbers">
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
