{% extends 'admin.base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col">
                                <p class="text-primary m-0 fw-bold">MENU N° {{ menu.id }}</p>
                            </div>
                            <div class="col ">
                                <p class="text-primary m-0 fw-bold">
                                    {{ include('menu/_delete_form.html.twig') }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-0 d-flex justify-content-around flex-wrap">
                            <div class="col-6">
                                {% if menu.image %}
                                    <img class="img-fluid test-img"
                                         src="{{ asset("assets/img/uploads/#{menu.image}") }}">
                                {% else %}
                                    <img class="img-fluid test-img"
                                         src="{{ asset('assets/img/uploads/default.jpg') }}">
                                {% endif %}
                            </div>
                        </div>
                        {{ include('menu/_form.html.twig', {button_label: 'Mettre à jour', canDelete: true}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
